.hero-section {
	background-image: url('https://source.unsplash.com/JTUmzXLoqHQ/1920x1080');
	height: 65vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.middle {
	position: relative;
	top: 50;
	right: 50;
}
